<appSettings>
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
	<add key="FacebookAppId" value="261755664867807"/>
	<add key="FacebookAppSecret" value="3adf7e0ca8589c9b050ab802c34a90f6"/>
	<add key="MailServer" value="dev-smtp.vidly.com"/>
</appSettings>